# IS 362 PROJECT 3

## Import necessary libraries

In [1]:
from sqlalchemy import create_engine
import os
import pymysql
import mysql.connector
import pandas as pd
import numpy as np

## Set user name and password using environment variables

In [8]:
user_name = os.environ.get('MySQL_USER')
password = os.environ.get('MySQL_PASS')

## Set connection to MySQL

In [10]:
connection = mysql.connector.connect (host = '127.0.0.1', 
                                     user = user_name, 
                                     passwd = password,
                                     db = 'chinook')

## MySQL query to select last name, first name, name and title from the Chinook database

In [11]:
sql = '''SELECT LastName, FirstName, track.Name, album.Title
         FROM chinook.customer
         LEFT JOIN invoice ON customer.CustomerId = invoice.CustomerId
         LEFT JOIN invoiceline ON invoice.invoiceId = invoiceline.invoiceId
         LEFT JOIN track ON invoiceline.trackId = track.trackId
         LEFT JOIN album ON track.albumId = album.albumId
         ORDER BY LastName, FirstName'''


pd.read_sql(sql,connection).head(10)

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas
5,Almeida,Roberto,Dance,Ace Of Spades
6,Almeida,Roberto,Aos Leões,Demorou...
7,Almeida,Roberto,Demorou!,Demorou...
8,Almeida,Roberto,Home Sweet Home,Motley Crue Greatest Hits
9,Almeida,Roberto,Intro,From The Muddy Banks Of The Wishkah [Live]