# Assignment Week 7 Normalization and Standardization

In [2]:
# Import pandas and numpy
import pandas as pd
import numpy as np

## Read the file with the data (movies.csv)

In [3]:
ratings = pd.read_csv('/Users/vguan/Documents/SPS/IS362/Week 7/movies.csv', index_col = 0)
ratings.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost
Maria,1.0,NaN,NaN,5.0,3.0,5.0
Michael,5.0,4.0,5.0,NaN,4.0,NaN
Martha,NaN,NaN,NaN,4.0,4.0,5.0
Roberto,4.0,3.0,4.0,3.0,NaN,NaN
Luis,5.0,2.0,5.0,NaN,3.0,1.0

## Calculate the average rating for each viewer. Pandas will skip the values (NaN)

In [4]:
ratings['Average'] = ratings.mean(axis = 1).round(1)
ratings.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost,Average
Maria,1.0,NaN,NaN,5.0,3.0,5.0,3.5
Michael,5.0,4.0,5.0,NaN,4.0,NaN,4.5
Martha,NaN,NaN,NaN,4.0,4.0,5.0,4.3
Roberto,4.0,3.0,4.0,3.0,NaN,NaN,3.5
Luis,5.0,2.0,5.0,NaN,3.0,1.0,3.2

## Calculate the average for each movie

In [6]:
ratings.mean(axis = 'index').round(1)

The Matrix              3.8
Mortal Kombat           2.5
Independence Day        4.5
Titanic                 4.2
Silence of the Lambs    3.2
Ghost                   3.8
Average                 3.7
dtype: float64

## Showing the original data

In [7]:
ratings = pd.read_csv('/Users/vguan/Documents/SPS/IS362/Week 7/movies.csv', index_col = 0)
ratings.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost
Maria,1.0,NaN,NaN,5.0,3.0,5.0
Michael,5.0,4.0,5.0,NaN,4.0,NaN
Martha,NaN,NaN,NaN,4.0,4.0,5.0
Roberto,4.0,3.0,4.0,3.0,NaN,NaN
Luis,5.0,2.0,5.0,NaN,3.0,1.0

## Filling out missing values with a zero

In [8]:
ratings = ratings.fillna('0')
ratings.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost
Maria,1,0,0,5,3,5
Michael,5,4,5,0,4,0
Martha,0,0,0,4,4,5
Roberto,4,3,4,3,0,0
Luis,5,2,5,0,3,1

## Checking data type

In [9]:
ratings.dtypes

The Matrix              object
Mortal Kombat           object
Independence Day        object
Titanic                 object
Silence of the Lambs    object
Ghost                   object
dtype: object

## Converting data types

In [12]:
ratings[['The Matrix','Mortal Kombat','Independence Day','Titanic','Silence of the Lambs','Ghost']] = ratings[['The Matrix','Mortal Kombat','Independence Day','Titanic','Silence of the Lambs','Ghost']].apply(pd.to_numeric)
ratings.dtypes

The Matrix              float64
Mortal Kombat           float64
Independence Day        float64
Titanic                 float64
Silence of the Lambs    float64
Ghost                   float64
dtype: object

## Normalizing using min and max

In [13]:
ratings_norma = ratings.copy()
for column in ratings_norma.columns:
    ratings_norma[column] = (ratings_norma[column]-ratings_norma[column].min())/(ratings_norma[column].max()-ratings_norma[column].min())
    
ratings_norma.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost
Maria,0.2,0.00,0.0,1.0,0.75,1.0
Michael,1.0,1.00,1.0,0.0,1.00,0.0
Martha,0.0,0.00,0.0,0.8,1.00,1.0
Roberto,0.8,0.75,0.8,0.6,0.00,0.0
Luis,1.0,0.50,1.0,0.0,0.75,0.2

## Calculate the Average for each viewer

In [14]:
ratings_norma['Average'] = ratings_norma.mean(axis = 1).round(1)
ratings_norma.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost,Average
Maria,0.2,0.00,0.0,1.0,0.75,1.0,0.5
Michael,1.0,1.00,1.0,0.0,1.00,0.0,0.7
Martha,0.0,0.00,0.0,0.8,1.00,1.0,0.5
Roberto,0.8,0.75,0.8,0.6,0.00,0.0,0.5
Luis,1.0,0.50,1.0,0.0,0.75,0.2,0.6

## Calculate the average for each movie

In [15]:
ratings_norma.mean(axis = 'index').round(1)

The Matrix              0.5
Mortal Kombat           0.4
Independence Day        0.5
Titanic                 0.5
Silence of the Lambs    0.6
Ghost                   0.4
Average                 0.5
dtype: float64

## One of the advantage of normalizing the ratings is that make it easier to storage but it also make them more difficult to read by users. The reason for this is because users are more familiar with the traditional rating scales from 1 to 5. Seeing the ratings from 0 to 1 could be a little confusing.

## Load the original dataset to be standardized

In [23]:
from sklearn.preprocessing import StandardScaler
ratings = pd.read_csv('/Users/vguan/Documents/SPS/IS362/Week 7/movies.csv', index_col = 0)
ratings.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost
Maria,1.0,NaN,NaN,5.0,3.0,5.0
Michael,5.0,4.0,5.0,NaN,4.0,NaN
Martha,NaN,NaN,NaN,4.0,4.0,5.0
Roberto,4.0,3.0,4.0,3.0,NaN,NaN
Luis,5.0,2.0,5.0,NaN,3.0,1.0

## Filing out missing values with a zero

In [24]:
ratings = ratings.fillna('0')
ratings.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost
Maria,1,0,0,5,3,5
Michael,5,4,5,0,4,0
Martha,0,0,0,4,4,5
Roberto,4,3,4,3,0,0
Luis,5,2,5,0,3,1

## Checking data types

In [25]:
ratings.dtypes

The Matrix              object
Mortal Kombat           object
Independence Day        object
Titanic                 object
Silence of the Lambs    object
Ghost                   object
dtype: object

## Converting data type

In [26]:
ratings[['The Matrix','Mortal Kombat','Independence Day','Titanic','Silence of the Lambs','Ghost']] = ratings[['The Matrix','Mortal Kombat','Independence Day','Titanic','Silence of the Lambs','Ghost']].apply(pd.to_numeric)
ratings.dtypes

The Matrix              float64
Mortal Kombat           float64
Independence Day        float64
Titanic                 float64
Silence of the Lambs    float64
Ghost                   float64
dtype: object

## Standardized data

In [34]:
ratings_stand = pd.DataFrame(StandardScaler().fit_transform(ratings))
ratings_stand.rename(columns ={0:'The Matrix', 1:'Mortal Kombat',2:'Independence Day',3:'Titanic',4:'Silence of the Lambs',5:'Ghost'}, inplace = True)
ratings_stand.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost
0,-0.80904,-0.953463,-1.138420,1.171700,0.452679,1.280369
1,1.07872,1.716233,1.075174,-1.106606,1.086429,-0.960277
2,-1.28098,-0.953463,-1.138420,0.716039,1.086429,1.280369
3,0.60678,1.048809,0.632456,0.260378,-1.448572,-0.960277
4,1.07872,0.381385,1.075174,-1.106606,0.452679,-0.512148

## Shows the average for each viewer

In [41]:
ratings_stand['Average'] = ratings_stand.mean(axis = 1)
ratings_stand.head()

,The Matrix,Mortal Kombat,Independence Day,Titanic,Silence of the Lambs,Ghost,Average
0,-0.80904,-0.953463,-1.138420,1.171700,0.452679,1.280369,0.000546
1,1.07872,1.716233,1.075174,-1.106606,1.086429,-0.960277,0.484239
2,-1.28098,-0.953463,-1.138420,0.716039,1.086429,1.280369,-0.041432
3,0.60678,1.048809,0.632456,0.260378,-1.448572,-0.960277,0.019939
4,1.07872,0.381385,1.075174,-1.106606,0.452679,-0.512148,0.224172

## Shows the average for each movie

In [42]:
ratings_stand.mean(axis = 'index')

The Matrix             -9.516197e-17
Mortal Kombat          -6.344132e-17
Independence Day       -9.516197e-17
Titanic                 6.344132e-17
Silence of the Lambs    1.268826e-16
Ghost                   4.758099e-17
Average                 2.040816e-03
dtype: float64